@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('normalize.css');
@import url('reset.css');

:root {
    font-family: 'Quantico', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #1e1e1e;
}

.calculator {
    width: 90%;
    height: 90%;
    max-width: 700px;
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(7,1fr);
    grid-template-areas: 'sc  sc   sc  sc'
                         'sc  sc   sc  sc'
                         'ca  c    div mul'
                         'b7  b8   b9  sub'
                         'b4  b5   b6  sum'
                         'b1  b2   b3  equ'
                         'b0  b0   dot equ';
}

.screen {
    appearance: none;
    border: 2px solid #000000;
    background: #61ac52;
    grid-area: sc;
    cursor: unset;
    text-align: end;
    font-size: clamp(2rem,1vw,2.5rem);
    border-radius: 15px;
}

.screen:focus {
    outline: none;
}



button {
    font-size: clamp(1.5rem,1vw,2rem);
    padding: 0;
    appearance: none;
    color: #ffffff;
    border: 2px solid #000000;
    background-color: #7a7a7a;
    border-radius: 5px;
}

button[value=ca] {
    grid-area: ca;
}

button[value=c] {
    grid-area: c;
}

button[value='9'] {
    grid-area: b9;
}

button[value='8'] {
    grid-area: b8;
}

button[value='7'] {
    grid-area: b7;
}

button[value='6'] {
    grid-area: b6;
}

button[value='5'] {
    grid-area: b5;
}

button[value='4'] {
    grid-area: b4;
}

button[value='3'] {
    grid-area: b3;
}

button[value='2'] {
    grid-area: b2;
}

button[value='1'] {
    grid-area: b1;
}

button[value='0'] {
    grid-area: b0;
}

button[value='='] {
    grid-area: equ;
    background-color: #d82222;
}

button[value='+'] {
    grid-area: sum;
}

button[value='-'] {
    grid-area: sub;
}

button[value='*'] {
    grid-area: mul;
}

button[value='/'] {
    grid-area: div;
}

button[value='.'] {
    grid-area: dot;
}
