/* importando font */
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');



/* Alterando cor de fundo*/
body.t1 {
    background: #393084;
}

/* propriedades da tela */
input.t1 {
    border: 2px solid #212040;
    background: #ff6464;
    color: #ffffff;
    font-size: 2.5rem;
    font-family: 'Freehand', cursive;
}


input.t1::-webkit-slider-thumb {
    background: #8c84b6;
}




/* propriedades dos botoes */
button.t1{
    font-family: 'Freehand', cursive;
    color: #ffffff;
    border: 2px solid #212040;
    background-color: #8b85b4;
    border-radius: 5px;
    box-shadow: 0 3px #212040;
}

button.t1:hover {
    background: #5e5690;
}


/* posicionamento de cada elemento */
h1.t1 {
    font-family: 'Freehand', cursive;
    color: #ff6464;
}

button[value='='].t1 {
    grid-area: equ;
    background: #ff6464;
}

button[value='='].t1:hover {
    background: #d34646;
}
